<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124554484756-0n07fmo63h25i161k5pipe7khh01gllr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124554484756-0n07fmo63h25i161k5pipe7khh01gllr</string>
	<key>API_KEY</key>
	<string>AIzaSyCdZB75-Z2dxrdlnMdXxOF9rPlUPkT_6lA</string>
	<key>GCM_SENDER_ID</key>
	<string>124554484756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytestapp</string>
	<key>PROJECT_ID</key>
	<string>mytestapp-project-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mytestapp-project-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124554484756:ios:62b1bc528d2c121056db01</string>
</dict>
</plist>